@background-color: #21252b;
@text-color: #9da5b4;
@font: sans-serif;
@font-size: 14px;
@link-color: #00BFFF;

@padding-left: 8px;
@padding-right: @padding-left;
@vertical-spacing: 4px;

@button-text-color: @text-color;
@button-font-size: @font-size;
@button-bg: @background-color;

@selected-text-color: #d7dae0;
@selected-bg: #2C313A;

@menu-bg: #bbbbbf;
@menu-text-color: #000;
@menu-selected-bg: #747379;
@menu-selected-text-color: #fff;

@border-color: @text-color;
@border-width: 1px;

body {
    margin: 0px;
    background-color: @background-color;
    color: @text-color;
    font-family: @font;
    font-size: @font-size;
}

div, button, ul, p {
    margin: 0px;
}

button {
    background-color: @button-bg;
    border: none;
    color: @button-text-color;
    font-size: @button-font-size;
}

.file-link {
    color: @link-color;
    cursor: default;
}

.entity-panel {
    margin-top: @vertical-spacing;
}

.entity-panel p, h3 {
    margin-left: @padding-left;
    margin-top: @vertical-spacing;
    margin-bottom: @vertical-spacing;
}

.entity-panel h3 {
    font-size: @font-size;
    font-weight: normal;
    margin-bottom: 2 * @vertical-spacing;
}

.entity-panel div {
    margin-top: 2 * @vertical-spacing;
    margin-bottom: 2 * @vertical-spacing;
}

.component-panel {
    border-style: solid;
    border-color: @border-color;
    border-width: @border-width;
}

.component-panel div {
    // margin-left: @padding-left;
}

.component-panel label {
    display: block;
    margin-left: @padding-left;
    margin-bottom: @vertical-spacing;
}

.component-panel input {
    margin-left: @padding-left / 2;
}

.add-button-container {
    display: block;
    text-align: right;
    padding-top: @vertical-spacing;
    padding-right: @padding-right / 2;
}

.component-panel .add-button-container {
    text-align: left;
}

.component-panel .close-button-container {
    float: right;
    margin-top: @vertical-spacing;
    margin-right: @padding-right;
}

.vertical-list {
    cursor: default;
}

.vertical-list ul {
    padding: 0px;
    list-style-type: none;
}

.vertical-list ul li {
    padding-left: @padding-left;
    padding-right: @padding-right;
    padding-top: @vertical-spacing / 2;
    padding-bottom: @vertical-spacing / 2;
}

.selected-item {
    color: @selected-text-color;
    background-color: @selected-bg;
}

.dropdown-menu .menu-component {
    padding-left: 0px;
    color: @menu-text-color;
    background-color: @menu-bg;
    cursor: default;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-menu .menu-component-item {
    padding-left: @padding-left;
    padding-right: @padding-right;
    padding-top: @vertical-spacing / 2;
    padding-bottom: @vertical-spacing / 2;
}

.dropdown-menu .menu-component-item:hover {
    color: @menu-selected-text-color;
    background-color: @menu-selected-bg;
}

.draggable-control {
    cursor: ew-resize;
}
