@background-color: #21252b;
@text-color: #9da5b4;
@font: sans-serif;
@font-size: 14px;

@padding-left: 8px;
@padding-right: @padding-left;
@vertical-spacing: 4px;

@button-text-color: @text-color;
@button-font-size: @font-size;
@button-bg: @background-color;

@selected-text-color: #d7dae0;
@selected-bg: #2C313A;

body {
    margin: 0px;
    background-color: @background-color;
    color: @text-color;
    font-family: @font;
    font-size: @font-size;
}

div, button, ul, p {
    margin: 0px;
}

button {
    background-color: @button-bg;
    border: none;
    color: @button-text-color;
    font-size: @button-font-size;
}

.component-panel {
    margin-top: @vertical-spacing;
}

.component-panel p {
    padding-left: @padding-left;
    margin-bottom: 2 * @vertical-spacing;
}

.component-panel div {
    margin-bottom: 2 * @vertical-spacing;
}

.component-panel label {
    display: block;
    margin-left: @padding-left;
    margin-bottom: @vertical-spacing;
}

.component-panel input {
    margin-left: @padding-left / 2;
}

.add-button-container {
    display: block;
    text-align: right;
    padding-top: @vertical-spacing;
    padding-right: @padding-right / 2;
}

.vertical-list {
    cursor: default;
}

.vertical-list ul {
    padding: 0px;
    list-style-type: none;
}

.vertical-list ul li {
    padding-left: @padding-left;
    padding-right: @padding-right;
    padding-top: @vertical-spacing / 2;
    padding-bottom: @vertical-spacing / 2;
}

.selected-item {
    color: @selected-text-color;
    background-color: @selected-bg;
}
